* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

p {
  color: black;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 960px;
  margin: 0 auto;
}

#content div {
  background: #3bbced;
  padding: 30px;
}

#content div:nth-child(even) {
  background: #777;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.dijkstra-page-div {
  max-width: 80%;
  margin: auto;
}

#dijkstra-grid {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  margin: 50px auto;
}

.dijkstra-node {
  aspect-ratio: 1/1;
  min-width: 10px;
  outline: 1px solid rgba(50, 50, 150, 0.7);
  display: inline-block;
  margin: 0;
  padding: 0;
  user-select: none;
}

.dijkstra-node-start {
  background-color: green;
}

.dijkstra-node-finish {
  background-color: red;
}

.dijkstra-node-wall {
  background-color: grey;
}

.dijkstra-node-visited {
  background-color: blue;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  750% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.dijkstra-node:hover {
  cursor: pointer;
}

.dijkstra-button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-bottom: 50px;
}

.dijkstra-button p {
  color: white;
  margin: 0px auto;
  font-size: large;
}

.dijkstra-page-div h1 {
  margin: 40px auto;
  text-align: left;
  font-weight: bold;
}

.dijkstra-page-div h2 {
  margin: 40px auto;
  text-align: left;
  font-weight: 600;
}

.dijkstra-page-div p {
  margin: auto;
  text-align: left;
  color: black;
}
