* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: rgba(50, 50, 50, 1);
  /*
  box-shadow: 3px 3px 5px 2px rgba(0, 136, 169, 0.2);
  */
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
}

body {
  margin-top: 50px;
}

h1 {
  margin: 40px auto;
  text-align: center;
  color: black;
  font-size: 45px;
}

h2 {
  color: black;
}

p {
  color: black;
}

.logo {
  cursor: pointer;
}

nav {
  margin: auto;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: rgba(220, 220, 220, 1);
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: white;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: white;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 960px;
  margin: 0 auto;
}

#content div {
  background: #3bbced;
  padding: 30px;
}

#content div:nth-child(even) {
  background: #777;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.grid-div {
  padding: 50px;
}

.grid-div:nth-child(even) {
  background: rgba(219, 219, 219, 0.1);
}

.long-section {
  grid-column: 1/-1;
  background: rgba(219, 219, 219, 0.1);
}

#page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
}

#page-grid p {
  font-size: large;
  font-weight: 300;
}

#page-grid img {
  max-height: 500px;
}

.pseudocode p {
  text-align: left;
}
