/** Reset */
body,
canvas {
  margin: 0px;
  padding: 0px;
}

#canvas-holder {
  width: 80%;
  aspect-ratio: 16/9;
  align-items: center;
  display: flex;
  margin: auto;
  background-color: white;
  outline: 1px solid black;
}

#westminster-img {
  display: none;
}
