/** Reset */
body,
canvas {
  margin: 0px;
  padding: 0px;
}

#canvas-holder {
  width: 80%;
  aspect-ratio: 16/9;
  align-items: center;
  display: flex;
  margin: auto;
  background-color: white;
  outline: 1px solid black;
}

.pathfinding-button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-bottom: 50px;
}

.pathfinding-button p {
  color: white;
  margin: 0px auto;
  font-size: large;
}

.pathfinding-buttons-div {
  margin-top: 50px;
}

#westminster-img {
  display: none;
}
